.DS_Store
vim/.vim/bundle
.git-credentials
nvim/.config/nvim/plugin/packer_compiled.lua
antigen.zsh
vim/bundle/Vundle.vim

.git-credentials
nvim/.config/exercism
nvim/.config/htop
nvim/.config/lazygit
nvim/.config/ngrok
